DISCORD_TOKEN=your_token_here

STATUS_CHANNEL_ID=your_channel_id_here
#Discord channelID

SERVER_PATH=../bedrock_server.exe
# Can be a directory (../) or full path to exe (../bedrock_server.exe)

ALLOWLIST_PATH=../allowlist.json
# whitelist File path

SERVER_IP=127.0.0.1
# Discord Display IP

INTERNAL_IP=127.0.0.1
# check Server IP

SERVER_PORT=19132

LANGUAGE=JP
#JP or EN
